<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{url_for('static',filename='css.css')}}" />
     <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" />
    <title>Test</title>
  </head>
  <body >

    <div class=" main-bg vh-100 pt-5 " >
      <div>
      <h1 class="">Healthcare Software Solutions<h1/>
</div>
<div>
<div class="bg-white p-5 mt-5 fs-1">
  <h2 class="text-center">Healthcare software development </h2>
  
</div>
<br>
<br>
<br>
<div class="">

    <div class=" row g-4 justify-content-around align-content-around  ">

  <select class="col-4 m-2 dropdown bg-dark text-white p-2 fs-3 " name="cars" id="list1">
    <option >First Symptom</option>

     <option value="weight_loss">weight_loss</option>
    <!-- 129 -->
    <option value="fatigue">fatigue</option>
    <!-- 41 -->
    <option value="restlessness">restlessness</option>
    <!-- 94 -->
    <option value="lethargy">lethargy</option>
    <!-- 60 -->

    <option value="irregular_sugar_level">irregular_sugar_level</option>
    <!-- 53 -->
    <option value="blurred_and_distorted_vision">
      blurred_and_distorted_vision
    </option>
    <!-- 13 -->
    <option value="obesity">obesity</option>
    <!-- 76 -->
    <option value="increased_appetite">increased_appetite</option>
    <!-- 49 -->

    <option value="fatigue">fatigue</option>
    <!-- 85 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 37 -->
    <option value="restlessness">restlessness</option>
    <!-- 19 -->
    <option value="lethargy">lethargy</option>
    <!-- 26 -->

    <option value="high_fever">high_fever</option>
    <!-- 46 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 14 -->
    <option value="breathlessness">breathlessness</option>
    <!-- 65 -->
    <option value="phlegm">phlegm</option>
    <!-- 84 -->

    <option value="chest_pain">chest_pain</option>
    <!-- 18 -->
    <option value="fast_heart_rate">fast_heart_rate</option>
    <!-- 40 -->
    <option value="sweating">sweating</option>
    <!-- 111 -->
  </select>

  <select class=" col-4 m-2 dropdown bg-dark text-white fs-3 p-2" name="cars" id="list2">
    <option >Second Symptom</option>
    <option value="restlessness">restlessness</option>
    <!-- 94 -->
    <option value="fatigue">fatigue</option>
    <!-- 41 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 129 -->
    <option value="lethargy">lethargy</option>
    <!-- 60 -->

    <option value="irregular_sugar_level">irregular_sugar_level</option>
    <!-- 53 -->
    <option value="blurred_and_distorted_vision">
      blurred_and_distorted_vision
    </option>
    <!-- 13 -->
    <option value="obesity">obesity</option>
    <!-- 76 -->
    <option value="increased_appetite">increased_appetite</option>
    <!-- 49 -->

    <option value="fatigue">fatigue</option>
    <!-- 85 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 37 -->
    <option value="restlessness">restlessness</option>
    <!-- 19 -->
    <option value="lethargy">lethargy</option>
    <!-- 26 -->

    <option value="high_fever">high_fever</option>
    <!-- 46 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 14 -->
    <option value="breathlessness">breathlessness</option>
    <!-- 65 -->
    <option value="phlegm">phlegm</option>
    <!-- 84 -->

    <option value="chest_pain">chest_pain</option>
    <!-- 18 -->
    <option value="fast_heart_rate">fast_heart_rate</option>
    <!-- 40 -->
    <option value="sweating">sweating</option>
    <!-- 111 -->
  </select>

  <select class=" col-4 m-2 dropdown fs-3  p-2" name="cars" id="list3">
    <option >Third Symptom</option>
    <option value="lethargy">lethargy</option>
    <!-- 60 -->
    <option value="fatigue">fatigue</option>
    <!-- 41 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 129 -->
    <option value="restlessness">restlessness</option>
    <!-- 94 -->

    <option value="irregular_sugar_level">irregular_sugar_level</option>
    <!-- 53 -->
    <option value="blurred_and_distorted_vision">
      blurred_and_distorted_vision
    </option>
    <!-- 13 -->
    <option value="obesity">obesity</option>
    <!-- 76 -->
    <option value="increased_appetite">increased_appetite</option>
    <!-- 49 -->

    <option value="fatigue">fatigue</option>
    <!-- 85 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 37 -->
    <option value="restlessness">restlessness</option>
    <!-- 19 -->
    <option value="lethargy">lethargy</option>
    <!-- 26 -->

    <option value="high_fever">high_fever</option>
    <!-- 46 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 14 -->
    <option value="breathlessness">breathlessness</option>
    <!-- 65 -->
    <option value="phlegm">phlegm</option>
    <!-- 84 -->

    <option value="chest_pain">chest_pain</option>
    <!-- 18 -->
    <option value="fast_heart_rate">fast_heart_rate</option>
    <!-- 40 -->
    <option value="sweating">sweating</option>
    <!-- 111 -->
  </select>

  <select class=" col-4 m-2 dropdown fs-3  p-2" name="cars" id="list4">
    <option >Fourth Symptom</option>
    <option value="irregular_sugar_level">irregular_sugar_level</option>
    <!-- 53 -->
    <option value="fatigue">fatigue</option>
    <!-- 41 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 129 -->
    <option value="restlessness">restlessness</option>
    <!-- 94 -->
    <option value="lethargy">lethargy</option>
    <!-- 60 -->

    <option value="blurred_and_distorted_vision">
      blurred_and_distorted_vision
    </option>
    <!-- 13 -->
    <option value="obesity">obesity</option>
    <!-- 76 -->
    <option value="increased_appetite">increased_appetite</option>
    <!-- 49 -->

    <option value="fatigue">fatigue</option>
    <!-- 85 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 37 -->
    <option value="restlessness">restlessness</option>
    <!-- 19 -->
    <option value="lethargy">lethargy</option>
    <!-- 26 -->

    <option value="high_fever">high_fever</option>
    <!-- 46 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 14 -->
    <option value="breathlessness">breathlessness</option>
    <!-- 65 -->
    <option value="phlegm">phlegm</option>
    <!-- 84 -->

    <option value="chest_pain">chest_pain</option>
    <!-- 18 -->
    <option value="fast_heart_rate">fast_heart_rate</option>
    <!-- 40 -->
    <option value="sweating">sweating</option>
    <!-- 111 -->
  </select>

  <select class=" col-4 m-2 dropdown fs-3 bg-black text-white p-2" name="cars" id="list5">
    <option >Fifth Symptom</option>
    <option value="fatigue">fatigue</option>
    <!-- 41 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 129 -->
    <option value="restlessness">restlessness</option>
    <!-- 94 -->
    <option value="lethargy">lethargy</option>
    <!-- 60 -->

    <option value="irregular_sugar_level">irregular_sugar_level</option>
    <!-- 53 -->
    <option value="blurred_and_distorted_vision">
      blurred_and_distorted_vision
    </option>
    <!-- 13 -->
    <option value="obesity">obesity</option>
    <!-- 76 -->
    <option value="increased_appetite">increased_appetite</option>
    <!-- 49 -->

    <option value="fatigue">fatigue</option>
    <!-- 85 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 37 -->
    <option value="restlessness">restlessness</option>
    <!-- 19 -->
    <option value="lethargy">lethargy</option>
    <!-- 26 -->

    <option value="high_fever">high_fever</option>
    <!-- 46 -->
    <option value="weight_loss">weight_loss</option>
    <!-- 14 -->
    <option value="breathlessness">breathlessness</option>
    <!-- 65 -->
    <option value="phlegm">phlegm</option>
    <!-- 84 -->

    <option value="chest_pain">chest_pain</option>
    <!-- 18 -->
    <option value="fast_heart_rate">fast_heart_rate</option>
    <!-- 40 -->
    <option value="sweating">sweating</option>
    <!-- 111 -->
  </select>

</div>
<div class='row justify-content-center mt-5'>
<button id="submit" type="submit"  class="w-50 p-1 fs-3 btn-danger btn">submit</button>
</div>
</div>
<div class="text-center fs-3 m-3 pt-3 text-decoration-underline" id="output"></div>        
     </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
      <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>


  </body>
</html>
